.container-fluid
  .row
    .col-md-2
    .col-md-8
      .container.color-01
        .row
          .col-md-12
            .row.justify-content-center.center_downloadinfo
              .col-md-2.col-sm-10.col-xs-6
                .imgAbt
                  img.image(alt='easter-bunny' src='../assets/photos/lowerdownload_image_02.png')
              .col-md-6.pull-right
                h1.text-light Eggciting activities
                p.text-light
                  | Lots of text here...With the four tiers of grids available you&apos;re bound to run into issues where, at certain breakpoints, your columns don&apos;t clear quite right as one is taller than the other. To fix that, use a combination of a .clearfix
                  | and o
                button.c--btn.c--btn-color-02 Download PDF
            .row
              .div-bottom-image
                img.img-fluid(src='../assets/photos/bottom_repeat.jpg' alt='bottom-image')