.container-fluid.d-none.d-md-block
  .row
    .col-md-2
    .col-md-8
      .container.color-02
        .row
          .col-md-12
            .row.text-center
              .col-md-5
                h3
                  a.orange(href='#') Find an Easter Egg Hunt
              .col-md-4
                h3
                  a.orange(href='#') Fun at Home
              .col-md-3
                h3
                  a.orange(href='#') Easter Range
