.container-fluid.color-01
  .row
    .col-md-2
    .col-md-8
      .container
        .row
          .col-md-12
            .d-flex.justify-content-center.text-center
              h1.text-light Hop back on the 31st January to
            .d-flex.justify-content-center.text-center
              h1.text-light find out more about our eggciting
            .d-flex.justify-content-center.text-center
              h1.text-light Easter activities!
            .d-flex.justify-content-end
              img(src='../assets/photos/overfooter.jpg')
