.container-fluid
  .row
    .col-md-2
    .col-md-8
      .container.footer.navbar-fixed-bottom
        .row
          .col-md-12
            footer.page-footer.font-small.unique-color-dark.d-inline
              .row.c-footer__links
                .col-md-auto
                  h5
                    a(href='#') Site map &amp; accessibility
                .col-md-auto
                  h5
                    a(href='#') Terms &amp; conditions
                .col-md-auto
                  h5
                    a(href='#') Press resources
                .col-md-auto
                  h5
                    a(href='#') Careers
                .c-footer__social-media.list-inline
                  .list-inline-item
                    // Facebook
                    a.btn.btn-social-icon.btn-facebook(href='#')
                      i.fa.fa-facebook.white-text.mr-4
                    // Twitter
                    a.btn.btn-social-icon.btn-twitter(href='#')
                      i.fa.fa-twitter.white-text.mr-4
                    // Instagram
                    a.btn.btn-social-icon.btn-instagram(href='#')
                      i.fa.fa-instagram.white-text.mr-4