.c_column__location {
  -ms-flex: 100%;
  flex: 100%;
  max-width: 100%;
  padding-bottom: 8px;

  & #map {
    text-align: center;
    margin: auto;
  }

  .c_righttext {
    display: flex;
    -webkit-flex-flow: row wrap;
  
    & p {
      margin: 0;
    }    
  }

  @media only screen and (min-width: 320) and (max-width: 480) {
    
  }

  @media only screen and (min-width: 481) and (max-width: 768) {
    
  }

  @media screen and (min-width:769px) {
    
    p {
      margin: 0px;
    }      
  }
}

@media screen and (max-width:768px) {

}



@media screen and (max-width:768px) {
  .text-sm-inline img{
    display: flex;
    flex: 50%;
    max-width: 50%;
    padding: 8px 8px 8px 8px;
    margin: 4px;
    float: left;
  }

}

// A map of breakpoints.
$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px
);

#map{
  width: 100%;
  height: 300px;
}
//--------------------------------------------------------------------------------------------
.egg-hunt {
  &_map--location {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;

    img {
      display: flex;
      flex: 50%;
      float: left;
      margin: 8px 4px 4px;      
      max-width: 50%;
      padding: 8px;
      width: 100%;
    }

    p {
      margin: 0px;

    }
    h6{
      text-decoration: underline;
    }

    @media only screen and (min-width: 320) and (max-width: 480) {
      flex: 100%;
      max-width: 100%;
      padding-bottom: 8px;

      #map {
        text-align: center;
        margin: auto;
      }

      .egg-hunt_image--text{
        display: flex;
        -webkit-flex-flow: row wrap;
    
        p {
          margin: 0;
        }        
      }
    }

    @media screen and (max-width:768px) {
      img{
 
      }
    }
  
    @media only screen and (min-width: 481) and (max-width: 768) {
      flex: 50%;
      max-width: 50%;
    }

    @media screen and (min-width:769px) {
      
    }
  }
}